@using SmartHome.Models
  <div class="asmarthomeform">
        <div class="sol">
            <img id="solcamera" src="img/asmrthomecamera.jpg " alt="">
        </div>
        <div class="sag">
            <div class="sagbaslik1">CREATE YOUR PERSONAL Smart Home Project</div>
            <div class="sagaciklama">We re here to answer any questions you might have about living in a Smart Home.
            </div>
            <div class="callnow">
                <a class="simdiara" href="tel:1234567890" data-action="call" class="moto-link">Call Now: (123) 456 7890</a>
            </div>
            <div class="form1">
                <form action="home.html">
                    <div class="row">
                        <div class="col-75">
                            <input type="text" id="yname" name="yourname" placeholder="Your Name*" required="">
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-75">
                            <input type="text" id="eml" name="email" placeholder="Email*" required="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-75">
                            <input type="text" id="msg" name="message" placeholder="Message*" required="">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <input type="submit" value="SEND" style="cursor: pointer" required="">
                    </div>
                </form>
            </div>

        </div>
       
    </div>
