@using SmartHome.Models

 <div class="helpsonsection">
        <div class="containerhelpsection">
        <div class="helptanitim">NEED HELP? CONTACT US ANYTIME, We are Always Ready to Help You</div>
        <div class="helpbtn">CONTACT US</div>
  </div>