@using SmartHome.Models
@model List<Hq_technology>



 <div class="hq_technology">
        <div class="tech_baslik">
            <div class="High-QTechn">High-Quality Technology</div>
            <button class="VIEWP_btn">VIEW ALL PRODUCTS</button>
        </div>
        <div class="tech_kategori">
            <div class="kategori_list">
                <div class="Motion Detector marg2_5 secsensorstyle">
                    <img class="kategoris mar_3" src="img/harektsens.jpg">
                    <div class="MotionDetector mtop_2">Motion Detector</div>
                </div>
                <div class="CellularCom marg2_5 secsensorstyle">
                    <img class="kategorisensorimg mar_3" src="img/hucresliletsm.jpg">
                    <div class="CellularCommunication mtop_2">Cellular Communication</div>
                </div>
                <div class="Door/WindowS marg2_5 secsensorstyle">
                    <img class="kategorisensorimg mar_3" src="img/kapipencsens.jpg">
                    <div class="Door/WindowSensors mtop_2">Door/Window Sensors</div>
                </div>
                <div class="Doorbell marg2_5 secsensorstyle">
                    <img class="kategorisensorimg mar_3" src="img/kapizil.jpg">
                    <div class="DoorbellCamera mtop_2">Doorbell Camera</div>
                </div>
                <div class="OutdoorW marg2_5 secsensorstyle">
                    <img class="kategorisensorimg mar_3" src="img/discamerakblosz.jpg">
                    <div class="OutdoorWirelC mtop_2">Outdoor Wireless HD Camera</div> 
                </div>
                <div class="Interior  marg2_5 secsensorstyle">
                    <img class="kategorisensorimg mar_3" src="img/iccamera.jpg">
                    <div class="InteriorHDC mtop_2"> Interior HD Camera</div>
                </div>
                <div class="Touchscreen marg2_5 secsensorstyle">
                    <img class="kategorisensorimg mar_3" src="img/dokunmatkkapikilit.jpg">
                    <div class="TouchscreenDLock mtop_2">Touchscreen Keyless Door Lock</div>
                </div>
            </div>
            
             <div class="imagnext">
            <div class="tcategorislideshow">

                <div class="mySlides fade">
                  <img src="img/slidev.jpg" style="width:100%">
                  <div class="text"></div>
                </div>
                
                <div class="mySlides fade">
                  <img src="img/slidkame.jpg" style="width:100%">
                  <div class="text"></div>
                </div>
                
                <div class="mySlides fade">
                  <img src="img/slidkam2.jpg" style="width:100%">
                  <div class="text"></div>
                </div>

                <div class="mySlides fade">
                    <img src="img/slidzil.jpg" style="width:100%">
                    <div class="text"></div>
                  </div>

                  <div class="mySlides fade">
                    <img src="img/slidpenc.jpg" style="width:100%">
                    <div class="text"></div>
                  </div>
             </div>
                <br>
                
                <div style="text-align:center">
                  <span class="dot" onclick="currentSlide(1)"></span> 
                  <span class="dot" onclick="currentSlide(2)"></span> 
                  <span class="dot" onclick="currentSlide(3)"></span> 
                  <span class="dot" onclick="currentSlide(4)"></span> 
                  <span class="dot" onclick="currentSlide(5)"></span> 
                </div>
                </div>
        </div>
    </div>