@using SmartHome.Models
    <div class="sec_product">
        <!-- <div class="containersecurity"> -->
        <img class="productimg" src="img/securitycamera.jpg">
        <div class="sec_paragraf">
            <div class="par_baslik">OUR SECURITY Products</div>
            <div class="par_acik">
            <div class="par_acik1">Reliable smart home security also requires reliable products. We offer a range of products that can identify different potential dangers and immediately alert you to these. We can take care of a myriad of security requirements with products that can perform multiple functions. You can realize smart self-monitored security features with our Motion Sensor and Door & Window Contact</div>
            <div class="par_acik2">Security hardware includes alarm systems, doors, security camera systems, locks and motion detectors. There are individual devices available that let you monitor your home from anywhere by using your phone.</div>
        </div>
    </div>
    </div>