@using SmartHome.Models
 <div class="security" >  
        <div class="text_security">
            <div class="sec_baslik"> SMART HOME Security </div>
            <div class="sec_aciklama"> The Best Product for Your Safety  </div>
         </div>
    </div>